body {
	background: #111;
	}
.canvasloth {
	width: 800px;
	height: 600px;
	margin: 30px auto;
	font: 12px sans-serif;
	color: #fff;
	}
	.canvasloth-hud-below {
		}

	/* about */
	.canvasloth-hud-above .about,
	.canvasloth-hud-above .about .page {
		position: absolute;
		width: 100%;
		height: 100%;
		}
		.canvasloth-hud-above .about .page {
			-webkit-transition: all .2s ease;
			visibility: hidden;
			opacity: 0;
			background: rgba(0,0,0,.9);
			}
			.canvasloth-hud-above .about.show .page {
				visibility: visible;
				opacity: 1;
				}

		/* buttons */
		.canvasloth-hud-above .about > a,
		.canvasloth-hud-above .referencial {
			position: absolute;
			right: 10px;
			}
			.canvasloth-hud-above .fa {
				font-size: 24px;
				}
		.canvasloth-hud-above .about > a {
			top: 10px;
			width: 20px;
			}
		.canvasloth-hud-above .about      .btnHide { display: none; }
		.canvasloth-hud-above .about.show .btnHide { display: block; }
		.canvasloth-hud-above .about.show .btnShow { display: none; }

	/* referencials */
	.canvasloth-hud-above .referencial {
		bottom: 10px;
		}
		.canvasloth-hud-above .referencial div {
			opacity: .5;
			margin-bottom: .5em;
			}
