body {
	background: #111;
	}
.canvasloth {
	width: 800px;
	height: 600px;
	margin: 30px auto;
	font: 12px sans-serif;
	color: #fff;
	}
	.canvasloth-hud-below {
		}
		.canvasloth-hud-below .console {
			position: absolute;
			overflow: hidden;
			width: 200px;
			left: 0;
			top: 0;
			bottom: 0;
			border-right: 1px dashed rgba(255,255,255,.5);
			padding: .2em .3em;
			color: rgba(200,200,200,.8);
			background: rgba(0,0,0,.92);
			}
			.canvasloth-hud-below .console b {
				color: rgba(200,200,200);
				}
	.canvasloth-hud-above .about,
	.canvasloth-hud-above .referencial {
		position: absolute;
		right: 10px;
		}
		.canvasloth-hud-above .fa {
			font-size: 24px;
			}
	.canvasloth-hud-above .about {
		top: 10px;
		}
	.canvasloth-hud-above .referencial {
		bottom: 10px;
		}
		.canvasloth-hud-above .referencial div {
			opacity: .5;
			margin-bottom: .5em;
			}
